<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Burnout Prediction</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h3>Employees Burnout Prediction</h3>

    <!-- Form to gather input data for burnout prediction -->
    <form action="/predict" method="post">
        <label for="designation">Designation:</label>
        <input type="number" id="designation" name="designation" step="1" required placeholder="Enter employee designation"><br><br>

        <label for="resource_allocation">Resource Allocation:</label>
        <input type="number" id="resource_allocation" name="resource_allocation" step="0.01" required placeholder="Enter resource allocation"><br><br>

        <label for="mental_fatigue_score">Mental Fatigue Score:</label>
        <input type="number" id="mental_fatigue_score" name="mental_fatigue_score" step="0.01" required placeholder="Enter mental fatigue score"><br><br>

        <label for="company_type">Company Type:</label>
        <select name="company_type" id="company_type" required>
            <option value="Service">Service</option>
            <option value="Product">Product</option>
        </select><br><br>

        <label for="wfh_setup_available">WFH Setup Available:</label>
        <select name="wfh_setup_available" id="wfh_setup_available" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>

        <label for="gender">Gender:</label>
        <select name="gender" id="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>

        <input type="submit" value="Predict" class="button-green">
    </form>

    <!-- Display prediction result if available -->
    {% if prediction %}
        <h1 text-align ="center">
            <span style="color: green;">Burnout Rate:</span>
            <span style="color: red;">{{ prediction }}</span>
        </h1>
    {% endif %}

    <br><br><br>

    <!-- Link to the GitHub repository -->
    <div class="centered-container">
        <p>copy the code from :</p><a href="https://github.com/gautham8325/Employee-burnout-prediction-using-Machine-Learning" >target="_blank" style="text-decoration: none; color: blue;" > Click to get Source Code</a>

    </div>

</body>
</html>
